body {
	font-family: sans-serif;
	background-color: gray;
}

header {
	background-color: white;
	padding: 10px;
}

header > nav {
	background-color: darkgray;
	padding: 10px;
}

nav > a {
	color: black;
	text-decoration: none;
	margin-right: 10px;
}

nav > a:hover {
	text-decoration: underline;
}

main {
	background-color: white;
	padding: 10px;
	margin: 10px;
}

section {
	background-color: lightgray;
}

h2 {
	text-align: center;
}

#secao1 > p {
	text-align: justify;
}

footer {
	background-color: #212121;
	color: white;
	text-align: center;
	padding: 10px;
}

footer > p {
	margin: 0px;
}