<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Position</title>
</head>
<body>
    <h1>Exemplo 3 com position</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi possimus, consequuntur sit obcaecati, reprehenderit quaerat a enim nulla culpa at minima aperiam vel porro facilis tempora ullam dolores. Architecto, tempora.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi possimus, consequuntur sit obcaecati, reprehenderit quaerat a enim nulla culpa at minima aperiam vel porro facilis tempora ullam dolores. Architecto, tempora.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi possimus, consequuntur sit obcaecati, reprehenderit quaerat a enim nulla culpa at minima aperiam vel porro facilis tempora ullam dolores. Architecto, tempora.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi possimus, consequuntur sit obcaecati, reprehenderit quaerat a enim nulla culpa at minima aperiam vel porro facilis tempora ullam dolores. Architecto, tempora.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi possimus, consequuntur sit obcaecati, reprehenderit quaerat a enim nulla culpa at minima aperiam vel porro facilis tempora ullam dolores. Architecto, tempora.
    </p>
    <div id="static">
        Static
    </div>
    <div id="relative">
        Relative
    </div>
    <div id="absolute">
        Absolute em relação ao body
    </div>
    <div id="relative2">
        Relative
        <div id="absolute2">
            Absolute em relação ao relative
        </div>
    </div>
    <div id="fixed">
        Fixed
    </div>
</body>
</html>