@charset "UTF-8";

* {
    font-family: sans-serif;
    background-color: bisque;
}

body {
    margin-bottom: 500px;
}

#static {
    width: 200px;
    height: 100px;
    background-color: rgba(255, 0, 0, .3);
}

#relative {
    width: 200px;
    height: 100px;
    background-color: rgba(0, 255, 0, .3);
    position: relative;
    left: 50px;
    bottom: 20px;
}

#absolute {
    width: 200px;
    height: 70px;
    background-color: rgba(0, 0, 255, .3);
    position: absolute;
    top: 10px;
    left: 500px;
}

#relative2 {
    width: 500px;
    height: 500px;
    background-color: rgba(0, 255, 0, .3);
    position: relative;
}

#absolute2 {
    width: 200px;
    height: 70px;
    background-color: rgba(0, 0, 255, .3);
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#fixed {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, .5);
    position: fixed;
    top: 0;
}