@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: white url('../images/fundo-madeira.jpg') center center no-repeat fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: transparent url('../images/frame-iphone.png');
}