@charset "UTF-8";

@media only screen and (min-width: 768px) and (max-width: 992px) {
    section {
        width: 90vw;
        height: 350px;
    }

    div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0px;
    }

    div#formulario {
        float: left;
        width: 50%;
    }
}

@media only screen and (min-width: 993px) {
    section {
        width: 950px;
        height: 450px;
    }

    div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0px;
    }

    div#formulario {
        float: left;
        width: 50%;
    }
}