body {
  font-family: "Hanken", sans-serif;
  background-color: var(--pale_blue);
  font-size: 1.8rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
