<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Position</title>
</head>
<body>
    <h1>Exemplo 2 de position</h1>
    <div>Static</div>
    <div>Static</div>
    <div class="relative relative-alternada">
        Relative
        <div class="absolute">Absolute</div>
    </div>
    <div>Static</div>
    <p>
        Um parágrafo
    </p>
    <div>Static</div>
    <div class="relative">
        Relative
        <div class="absolute">Absolute</div>
    </div>
    <div class="absolute">Absolute</div>
    <div class="fixed">Fixed</div>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non asperiores ipsum at, voluptates quaerat repudiandae eveniet laudantium reiciendis, quas assumenda nam sapiente debitis doloremque sequi dicta exercitationem expedita vitae obcaecati. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus amet recusandae, explicabo soluta dolorem omnis adipisci quae fugit itaque reiciendis ipsam dolorum enim optio ipsa est aperiam expedita alias dolore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident rerum corporis saepe incidunt iusto aperiam, porro velit nesciunt ab dignissimos commodi repellendus suscipit, maxime obcaecati exercitationem consectetur distinctio quae quidem.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non asperiores ipsum at, voluptates quaerat repudiandae eveniet laudantium reiciendis, quas assumenda nam sapiente debitis doloremque sequi dicta exercitationem expedita vitae obcaecati. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus amet recusandae, explicabo soluta dolorem omnis adipisci quae fugit itaque reiciendis ipsam dolorum enim optio ipsa est aperiam expedita alias dolore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident rerum corporis saepe incidunt iusto aperiam, porro velit nesciunt ab dignissimos commodi repellendus suscipit, maxime obcaecati exercitationem consectetur distinctio quae quidem.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non asperiores ipsum at, voluptates quaerat repudiandae eveniet laudantium reiciendis, quas assumenda nam sapiente debitis doloremque sequi dicta exercitationem expedita vitae obcaecati. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus amet recusandae, explicabo soluta dolorem omnis adipisci quae fugit itaque reiciendis ipsam dolorum enim optio ipsa est aperiam expedita alias dolore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident rerum corporis saepe incidunt iusto aperiam, porro velit nesciunt ab dignissimos commodi repellendus suscipit, maxime obcaecati exercitationem consectetur distinctio quae quidem.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non asperiores ipsum at, voluptates quaerat repudiandae eveniet laudantium reiciendis, quas assumenda nam sapiente debitis doloremque sequi dicta exercitationem expedita vitae obcaecati. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus amet recusandae, explicabo soluta dolorem omnis adipisci quae fugit itaque reiciendis ipsam dolorum enim optio ipsa est aperiam expedita alias dolore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident rerum corporis saepe incidunt iusto aperiam, porro velit nesciunt ab dignissimos commodi repellendus suscipit, maxime obcaecati exercitationem consectetur distinctio quae quidem.
    </p>
</body>
</html>